html, body {
    margin: 0;
    padding: 0;
    background-color:#525252;
    height: 100%;
    width: 100%;
}

body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
}


/* graph */

#graph-container {
    height: 100%;
    max-width: 100%;
    width: 100%;
}

#graph {
    min-height: 100%;
    width: 100%;
    margin: auto;
    background-color:#525252;
    position: relative;
}

/* station info */

#station-info {
    min-height: 20%;
    min-width: 100%;
    position: absolute;
    bottom: 0;
    background-color: rgba(161, 161, 161, 0.52);
    z-index: 10;
}

#station-name {
    position: absolute;
    top:0px;
    left: 10px;
    font-size: 200%;
}
