html, body {
    margin: 0;
    padding: 0;
    background-color:#525252;
    height: 100%;
    width: 100%;
}

body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
}


/* graph */

#graph-container {
    height: 100%;
    max-width: 100%;
    width: 100%;
}

#graph {
    min-height: 100%;
    width: 100%;
    margin: auto;
    background-color:#525252;
    position: relative;
}

/* station info */
.clear {
    clear: both;
}

#info-bar {
    min-height: 20%;
    max-height: 20%;
    min-width: 100%;
    position: absolute;
    bottom: 0;
    background-color: rgba(116, 116, 116, 0.56);
    z-index: 10;
}

#station-info {
    min-height: 100%;
}

#station-name, #station-town {
    padding: 0 0 0 1%;
    margin-left: 40px;
}

#station-name {
    position: relative;
    float: left;
    clear: left;
    font-size: 200%;
    display: inline-block;
}

#station-town {
    float: left;
    clear: left;
    font-weight: bold;
    position: relative;
    display: inline-block;
}

#line-graph-container {
    position: absolute;
    top: 0px;
    height: 100%;
    z-index: -1;
}

.axis path,
.axis line {
  fill: none;
  stroke: rgba(148, 148, 148, 0.76);
  shape-rendering: crispEdges;
  font-size: 20%;
}

.x.axis path {
  display: none;
  font-size: 20%;
}

.line {
  fill: none;
  stroke: rgba(255, 131, 16, 0.77);
  stroke-width: 1.5px;
}
